@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');
* {
  font-family: 'Nunito';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background: #202022;
  color: white;
  display: flex;
  justify-content: space-around;
  height: 75px;
  // align-items: center;
  //   padding-top: 20px;
}

.genre {
  width: 172px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  .fa {
    cursor: pointer;
  }
}
.rect {
  width: 2px;
  height: 24px;

  background: #ffffff;
  border-radius: 2px;
}
.left {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  align-items: center;
}
.right {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
  }
  .search {
    //   padding: 20px;
    display: flex;
    align-items: center;
    flex: 1;
    cursor: pointer;
    justify-content: space-around;
  }
  .login {
    margin-left: 10px;
    display: flex;
    flex: 3;
    justify-content: space-between;
    align-items: center;
  }
}
// .jumbotron {
//   background-image: url(./image_1.png);
//   background-size: cover;
//   height: 100%;
// }
.btn-jumbotron {
  background-color: #ffd231;
  &:hover {
    background-color: #e0b828;
  }
}
.hero-container {
  .hero {
    .hero-text {
      position: absolute;
      width: 469px;
      height: 217px;
      left: 216px;
      top: 159px;
      font-family: Abril Fatface;
      font-style: normal;
      font-weight: normal;
      font-size: 2.5em;
      line-height: 63px;
      color: #ffffff;
    }
    .cta {
      position: absolute;
      width: 171px;
      height: 55px;
      left: 216px;
      top: 376px;
      box-shadow: 0px 7px 8px rgba(255, 210, 49, 0.19);
      background: #ffd231;
      cursor: pointer;
      border-radius: 10px;
      .cta-text {
        position: absolute;

        left: 25px;
        top: 13px;
        width: 160px;
        height: 31px;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 31px;
        letter-spacing: 0.055em;
        color: black;

        // z-index: 999;
      }
    }
  }
}
body {
  background: #131417;
}

.card {
  margin-top: 30px;
  background: #202022;
  color: white;
  overflow: hidden;
  ul {
    li {
      background: #202022;
    }
  }
  transition: all 0.2s ease-in;
  &:hover {
    transform: scale(1.009);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.603);
  }
}

.rect1 {
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.07);
    cursor: pointer;
  }
}
.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
  cursor: pointer;
}
.overlay-text:hover::after {
  content: 'Show More >>';
  z-index: 99;
  transition: 0.5s ease all;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(35%, 50%);
  pointer-events: none;
}
.overlay-text-1:hover::after {
  content: 'Browse Diaries >>';
  z-index: 99;
  transition: 0.5s ease all;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(33%, 50%);
  pointer-events: none;
}
.overlay-text-2:hover::after {
  content: 'Top-offers >>';
  z-index: 99;
  transition: 0.5s ease all;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(35%, 50%);
  pointer-events: none;
}
.overlay-text-3:hover::after {
  content: 'International Best-sellers >>';
  z-index: 99;
  transition: 0.5s ease all;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(20%, 50%);
  pointer-events: none;
}
.overlay-text-4:hover::after {
  content: 'JEE Exam Books >>';
  z-index: 99;
  transition: 0.5s ease all;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(30%, 50%);
  pointer-events: none;
}
.overlay-text-5:hover::after {
  content: 'UPSC CSE Exam >>';
  z-index: 99;
  transition: 0.5s ease all;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  transform: translate(30%, 50%);
  pointer-events: none;
}
.jumbotron {
  background: url(./image_1.png) center;
  background-size: cover;
  color: white;
  // height: 40vh !important;
}
